#  Diabatic state 1 
-O -i {{ mdin }} -p {{ mr.top }} -c {{ mr.crd }} -o mr.out {{ '-r' mr.rst if mr.rst }} -evbin {{ mr.evb }} 
#  Diabatic state 2 
-O -i {{ mdin }} -p {{ mp.top }} -c {{ mr.crd }} -o mp.out {{ '-r' mp.rst if mp.rst }} -evbin {{ mp.evb }}
