#  Diabatic state 1 
-O -i {{ mdin }} -p {{ mr.top }} -c {{ mr.pdb }} -o mr.out {{ "-r {}".format(mr.rst) if mr.rst }} -evbin {{ mr.evb }} 
#  Diabatic state 2 
-O -i {{ mdin }} -p {{ mp.top }} -c {{ mr.pdb }} -o mp.out {{ "-r {}".format(mp.rst) if mp.rst }} -evbin {{ mp.evb }}
